$darkPurple: #2A2B8D;
$skyBlue: #7FD6F2;
$black: #050417;
$white: #FFFFFF;
$lightPurple: #D5D7E5;
$red: #FF4A4A;
$logoGradient: linear-gradient(333.23deg, #2A2B8D -16.84%, #2B2F8F -12.31%, #559BD1 119.72%);
