.gallery{
    background-color: $white;
    display: flex;
    // overflow: hidden;
    // flex-flow: row wrap;
    // flex-wrap: wrap;
    // min-height: 100vh;
    margin: 80px 0;
}

.galleryDisplay{
    ul{
        column-count: 3;
        column-gap: 60px;
        
        li{
            max-width: 300px;
            margin-bottom: 20px;
            img{
                object-fit: contain;
                max-width: 300px;
                display: block;
            }
        }
    }
    
}