.apiGallery{
    
}

.gallery{
    background-color: $white;
    display: flex;
    min-height: 100vh;
    margin: 80px 0;
}

.galleryDisplay{
    margin: 80px 0;
    ul{
        column-count: 3;
        column-gap: 60px;
        margin: 0 auto;
        
        li{
            max-width: 300px;
            margin-bottom: 15px;
            img{
                object-fit: contain;
                max-width: 300px;
                display: block;
            }
        }
    }
    
}