@import "./setup";
@import "./fonts";
@import "./search";
// @import url("https://kit.fontawesome.com/a6deab4c82.js");

html{
  font-size: 62.5%;
}

body{
  text-align: center;
}

.wrapper{
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
}
