@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap");
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

*, input, select, option {
  font-family: "Open Sans", sans-serif;
}

ul, li,
h1, h2,
h3, h4,
h5, h6,
figure,
p,
span,
a {
  padding: 0;
  margin: 0;
}

h1 {
  text-transform: lowercase;
  font-weight: 700;
  font-size: 3.6rem;
  color: #FFFFFF;
}

h1 span {
  font-weight: 300;
}

input, select, option {
  font-size: 1.4rem;
  color: #D5D7E5;
  border-style: none;
  background-color: #FFFFFF;
  font-weight: 600;
}

input::-webkit-input-placeholder, select::-webkit-input-placeholder, option::-webkit-input-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder, select:-ms-input-placeholder, option:-ms-input-placeholder {
  opacity: 1;
}

input::-ms-input-placeholder, select::-ms-input-placeholder, option::-ms-input-placeholder {
  opacity: 1;
}

input::placeholder, select::placeholder, option::placeholder {
  opacity: 1;
}

input, select {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:focus, select:focus {
  color: #2A2B8D;
}

option {
  color: #050417;
}

button {
  background-color: #2A2B8D;
  border-radius: 25px;
  border-style: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 800;
  width: 246px;
  height: 50px;
  font-size: 1.4rem;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

button:hover {
  background-color: #D5D7E5;
  color: #2A2B8D;
}

ul li {
  list-style-type: none;
}

.search {
  background-color: #050417;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.search .logo {
  height: 70px;
  width: 70px;
  margin: 20px auto;
}

.search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 30%;
  overflow: hidden;
  height: 30vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search form input, .search form select {
  height: 50px;
  border-radius: 4px;
  width: 400px;
  padding: 0 20px;
}

.search form select {
  background: url("https://image.flaticon.com/icons/svg/25/25629.svg") no-repeat;
  background-size: 12px;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-shadow: 0px 15px 0px -7px rgba(213, 215, 229, 0.7);
  box-shadow: 0px 15px 0px -7px rgba(213, 215, 229, 0.7);
  border-radius: 4px;
}

.search form input {
  background-color: #FFFFFF;
}

.gallery {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0;
}

.galleryDisplay ul {
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 60px;
          column-gap: 60px;
}

.galleryDisplay ul li {
  max-width: 300px;
  margin-bottom: 20px;
}

.galleryDisplay ul li img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 300px;
  display: block;
}

html {
  font-size: 62.5%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 70%;
}
/*# sourceMappingURL=App.css.map */